.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(red, yellow, green);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
    background-color: red; 
}