<html>
    <head>
        <title>Welcome, {{user.user}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" />

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    </head>
    <body>
        <h1>Balance Sheet for {{user.user}}</h1>

        <p>{{message}}</p>
        <table border="1">
            <tr>
                <th>Assets</th>
                <th>Liabilities</th>
            </tr>

            {% if user.assets|length > user.liabilities|length %}
                {% for asset in user.assets %}
                    <tr>
                        <td>{{ asset }}: ${{ user.assets[asset] }}</td>
                        {% if loop.index0 < user.liabilities|length %}
                            <td>{{ (user.liabilities.keys()|list)[loop.index0] }}: ${{ (user.liabilities.values()|list)[loop.index0] }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for liab in user.liabilities %}
                <tr>
                    {% if loop.index0 < user.assets|length %}
                        <td>{{(user.assets.keys()|list)[loop.index0]}}: ${{ (user.assets.values()|list)[loop.index0]}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{liab}}: ${{user.liabilities[liab]}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        <h3>Update form</h3>
        <form method="post" action="/update">
            <label for="category">Choose a category whose value to replace:</label>
            <select name="category">
                {% for asset in user.assets %}
                    <option value="{{asset}}">{{asset}}</option>
                {% endfor %}
                {% for liab in user.liabilities %}
                    <option value="{{liab}}">{{liab}}</option>
                {% endfor %}
            </select>

            $<input type="text" name="newval"></input><br>
            <input type="submit" value="Update">
        </form>
    </body>
</html>
