<html>

<head>
	<title>Welcome, {{user.firstName}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Roboto:ital,wght@0,100;0,500;1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
    <style>
  
        .mb-1 {
            margin-bottom: 30px !important;
        }
        #main {
            padding: 15px;
            border: 1px solid black;
            width: 40%;
            margin: auto;
            background-color: white;
            border-radius: 15px;

        }

        input[type="text"] {
            height: 24px;
        }

        @media (max-width: 1020px) {
            #main {
                width: 60%;
            }
        }

        @media (max-width: 630px) {
            #main {
                width: 90%;
            }
        }

        @media (max-width: 341px) {
            #main {
                width: 100%;
                border: 0;
            }
        }
        body {
            background-color: #f2faff;
        }
    
    </style>
</head>

<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light" style="background-color: #85d0ff; font-family: 'Lato', sans-serif;">
  <a class="navbar-brand" href="/about">TECK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/update">Update </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new_entry">New </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/del">Delete </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/request">Request Money</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Make Changes
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/update">Update Form</a>
          <a class="dropdown-item" href="/new_entry">New Deposit/Withdrawal</a>
          <a class="dropdown-item" href="/del">Delete Transaction</a>
        </div>
      </li>
      -->
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.firstName}} {{user.lastName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/preferences">My Preferences</a>
          <hr>
          <center><a class="dropdown-item" href="/logout">Log out</a></center>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<div id="main">
    <center>
    <h1> Request Information </h1> <hr>
    <h3> <u>Your Information</u> </h3>
    <b> First Name:  </b> {{user.firstName}} <br>
    <b> Last Name: </b> {{user.lastName}} <br>
    <h3> <u>Requester Information:</u> </h3>
    <b> First Name:  </b> {{sender.firstName}} <br>
    <b> Last Name: </b> {{sender.lastName}} <br>
    <h3> <u>Request Information: </u></h3>
    <b> Amount: </b> {{amount}} <br>
    <b> Description: </b> {{description}}
    <hr>
    <form method="post" action="/request/{{user.requests.id}}" style="font-family: 'Quicksand', sans-serif; text-align: center;">
        <label for="title"><b>Approve/Deny</b></label> <input id="title" type="text" name="approveOrDeny" size="50%"><br>
        <input type="submit" value="SUBMIT" class="btn btn-outline-dark" style="font-family: 'Quicksand', sans-serif; text-align: center; font-weight:bold;">
    </form>
    </center>
</div>
</body>
</html>